extends views/_layout

block content
	- equipo1 = {cap: "ck", num: "1", name: "Marce Y SPDP"}
	- equipo2 = {cap: "dario", num: "2", name: "Altos Boludos"}
	- equipo3 = {cap: "alan", num: "3", name: "Back2DPigeons"}
	- equipo4 = {cap: "fyr", num: "4", name: "Esta"}
	- equipo5 = {cap: "ozz", num: "5", name: "Las Galletas"}
	- equipo6 = {cap: "raul", num: "6", name: "Equipo 6"}
	- horarios = {uno: "7:30PM", dos: "8:00PM", tres: "8:30PM"}
	- pg = 'Partidos Ganados'
	- pl = 'Partidos Perdidos'
	include views/_home
	include views/_calendario
	include views/_equipos 											



