doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Torneo de Volleyball
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/_scroll.css')
    script(type='text/javascript').
  body#page-top(data-spy="scroll" data-target='.navbar-custom')
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')  
    script(src='js/vendor/grayscale.js')
    script(src='js/table.js')
