#calendario{

}
.pad-con-table{
	padding:0 2px 0 2px; 
}
.contenedor-calendar{
	@include span-columns(10);
	left: 0;
	right: 0;
	height: 60%;
	position: absolute;
	//background: rgba(0,0,0,0.6);
	//border: 2px white solid;
	padding: 20px 0 20px 20px;
	vertical-align: middle;
	min-height: 567px;
	min-width: 340px;
}
.calendar-table{
	padding-left: 20px;
	border: 1px solid white;
	background: rgba(0,0,0,0.6);
}
.vs{
	width: 20px;
}
.teamys{
	width: 97px;
}
.hours{
	width: 58px;
}
.jornadas{
	text-align: center;
}
.tit-jornada{
	font-weight: bold;
	margin: 0 0 5px;
}
.subtit-jornada{
	margin-top: -11px;
	margin-bottom: 0px;
	font-weight: lighter;
}
.centerbottom-top{
	top: 0;
	bottom: 0;
	margin: auto;

}
.pos-absoluta{
	position: absolute;
}

.contenedor-ranking{
	width: 14%;
	height: 430px;
	float: left;
	right: 0;
	position: absolute;
	h3{
		@include media(min-width 320px max-width 860px){
			font-size: 18px
		}
	}
}
.limit{
	width: 310px;
}
.column-10{
	@include span-columns(10);
}
.contenedor-mov{
	width: 100%;
	overflow: hidden;
	height: 45px;
	margin-bottom: 15px;
}
.contenedor_hover{
	width: 100%;
	margin-top: 0px;
	position: relative;
	overflow: hidden;
	padding-left: 15px;
	height: 45px; 
}
.puesto{
	font-size: 22px;
	padding-top: 11px;
	font-weight: bold;
	content: "primero";
	@include media(min-width 725px max-width 1266px){
		width: 98px;
	} 
}
.equipo-lugar{
	width: 125%;
	height: 100%;
	margin-right: -100%;
	float: right;
	position: relative;
	font-size: 16px;
	top: -100%;
	@include transition(all 0.5s ease-in-out);
	.expandir{
		float: left;
		width: 25%;
		height: 100%;
		padding-top: 22px;
		text-align: center;
		line-height: 14px;
	}
	&:hover{
		@include transform(translateX(-80%));
	}
}
.equipos-ranki{
	top: 13px;
	margin: auto;
	position: relative;
	height: 430px;
}
.font-13px{
	font-size: 12px;
	padding-left: 0;
} 
.border {
}