#calendario{
	background: url("../img/calendar.jpg") no-repeat;
	position: relative;
	background-size: cover;
}

.contenedor-calendar{
	width: 80%;
	left: 0;
	right: 0;
	height: 70%;
	position: absolute;
	border: 2px white solid;
	vertical-align: middle;
	font-size: 16px;

}

.centerbottom-top{
	top: 0;
	bottom: 0;
	margin: auto;

}
.pos-absoluta{
	position: absolute;
}

.contenedor-ranking{
	width: 14%;
	height: 430px;
	float: left;
	right: 0;
	position: absolute;
	@include media(min-width 0px max-width 687px){
		visibility: hidden;
	}
	h3{
		@include media(min-width 320px max-width 860px){
			font-size: 18px
		}
	}
}

.contenedor-ranking-resp{
	width: 14%;
	height: 430px;
	float: left;
	right: 0;
	position: absolute;
	visibility: hidden;
	@include media(min-width 0px max-width 687px){
		visibility: visible;
	}
	@include media(min-width 0px max-width 621px){
		width: 18%;
	}
	h3{
		@include media(min-width 320px max-width 860px){
			font-size: 18px
		}
	}
}

.column-10{
	@include span-columns(10);
}
.contenedor-mov{
	width: 100%;
	overflow: hidden;
	height: 45px;
	margin-bottom: 15px;
}
.contenedores-resp-rank{
	width: 100%;
	overflow: hidden;
	height: 45px;
	margin-bottom: 15px;
}
.contenedor_hover{
	width: 100%;
	margin-top: 0px;
	position: relative;
	overflow: hidden;
	padding-left: 15px;
	height: 45px; 
}
.puesto{
	font-size: 22px;
	padding-top: 11px;
	font-weight: bold;
	content: "primero";
	@include media(min-width 725px max-width 1266px){
		width: 98px;
	} 
}
.puesto-resp{
	padding: 3px 8px;
	font-weight: bold;
	@include media(min-width 0px max-width 612px){
		float: left;
	} 

}
.equipos-ranki-resp{
	font-size: 13px;
	padding-left: 5px;
	@include media(min-width 0px max-width 612px){
		padding-top: 5px;
	} 
}
.equipo-lugar{
	width: 125%;
	height: 100%;
	margin-right: -100%;
	float: right;
	position: relative;
	font-size: 16px;
	top: -100%;
	@include transition(all 0.5s ease-in-out);
	.expandir{
		float: left;
		width: 25%;
		height: 100%;
		padding-top: 22px;
		text-align: center;
		line-height: 14px;
	}
	&:hover{
		@include transform(translateX(-80%));
	}
}
.equipos-ranki{
	top: 13px;
	margin: auto;
	position: relative;
	height: 430px;
	@include media(min-width 0px max-width 805px){
		font-size: 14px
	} 

}
.font-13px{
	font-size: 12px;
	padding-left: 0;
} 

a.is-active{
	font-weight: bold;
	color: white;
	background-color: rgba(0,0,0,0.6);
}

.formato-jour{
	display: block;
	width: 20%;
	height: 7.14%;
	text-align: center;
	padding-top: 12px;
	background-color: rgba(0,0,0, 0.9);
	line-height: 16px;
	@include media(min-width 0px max-width 670px){
		font-size: 12px
	} 
	@include media(min-height 0px max-height 623px){
		font-size: 11px;
		font-weight: bold;	
	}
}
.jhgjhg{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	width: 80%;
	height: 100%;
	text-align: center;
	color: white;
	@include media(min-width 0px max-width 595px){
		font-size: 13px;
		} 
}
.cont-games{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	left: 0;
	width: 95%;
	height: 29%;
	line-height: 25px

	}
.date-games{
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}
.team-games{
	line-height: 16px;

}
.hour-games{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.vs-games{

}
.huhuhu{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	width: 80%;
	height: 100%;
	text-align: center;
	background-color: rgba(0,0,0,0.6);

}


