.head-logo{
  background: url("../img/grwpo.jpg");
  width: 200px;
  height: 100px;
  img{
    width: 68px;
  }
}

.total-container{
	background: url('../img/wphoto.jpg') no-repeat;
	position: relative;
	background-size: cover;
}
.containerNt{
	position: relative;
	height: 100%;

	.title{
		background: url('../img/title.png') no-repeat;
		position: absolute;
		height: 187px;
		width: 327px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; 
		margin: auto;
	}

	a{
		z-index: 10;
		margin-top: 200px;
	}

	.cuadCal{
		height: 157px;
		@include span-columns(2);
		border: 3px solid white;
	}
}

.menu-partidos-week{
	bottom: 0px;
	position: absolute;

	ul{
		font-weight: bold;
		font-size: 20px;

		li{
			font-size: 24px;
			bottom: 0px;
		}
	}			
}


@each $c in $colors{
					.#{nth($c,2)}{
						background-color: rgba(nth($c,1),0.5);
					}
				}
.cont_hover{
	height: 140px;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	bottom: -2px;
}
.estatic{
	height: 60px;
	margin-top: 110px;
	position: relative;
	overflow: hidden;
	bottom: -2px;
	padding: 16px;
}
.cuadro_contenido{
	padding-left: 8px;
	padding-top: 15px;
	line-height: 24px;
	@include span-columns(4);
	font-size: 40px;
	bottom: 0px;
	height: 200px;
	top: 80px;
	width: 100%;
	position: relative;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;

	hr{
		width: 98%;
	}

	&:hover {
		transform: translateY(-84px);
		-webkit-transform:translateY(-84px);
		-moz-transform:translateY(-84px);
		-ms-transform:translateY(-84px);
		-o-transform:translateY(-84px);
	}
	.mes{
		font-size: 13px;
		letter-spacing: 1px;
	}
	.dia{
		float: right;
		margin-right: 11px;
		margin-top: -16px;
	}
	.horariosXdia{
		padding-left: 6px;
		font-size: 18px;
		@include span-columns(1 of 4);
		line-height: 19px;
	}
	.equiposVS{
		margin: 0;
		font-size: 14px;
		position: relative;
		@include span-columns(3 of 4);
		text-align: left;
		line-height: 4px;
		padding: 0px;
		tr{
			height: 16px;
			.line{
				padding: 8px 6px;
				border: none;
			}
		}
	}
}

