.head-logo{
  background: url("../img/grwpo.jpg");
  width: 200px;
  height: 100px;
  img{
    width: 68px;
  }
}

.total-container{
	background: url('../img/wphoto.jpg') no-repeat;
	position: relative;
	background-size: cover;
}
.containerNt{
	position: relative;
	height: 100%;

	.title{
		background: url('../img/title-black.png') no-repeat;
		position: absolute;
		height: 187px;
		width: 327px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0; 
		margin: auto;
		@include media(min-width 0px max-width 1110px){
			top: 25%;
			bottom: 50%;
		} 
	}

	a{
		z-index: 10;
		margin-top: 200px;
	}
}

.menu-partidos-week{
	bottom: 0px;
	position: absolute;
	@include media(min-width 0px max-width 1110px){
				visibility: hidden;
				} 

	ul{
		font-weight: bold;
		font-size: 20px;

		li{
			bottom: 0px;
			@include media(min-width 0px max-width 1240px){
				font-size: 18px;
			} 
		}
	}			
}


@each $c in $colors{
					.#{nth($c,2)}{
						background-color: nth($c,1);
					}
				}
@each $c in $colors{
					.#{nth($c,2)}1{
						background-color: rgba(nth($c,1), 0.5);
					}
				}				
.cont_hover{
	height: 140px;
	margin-top: 30px;
	position: relative;
	overflow: hidden;
	bottom: -2px;
}
.estatic{
	height: 60px;
	margin-top: 110px;
	position: relative;
	overflow: hidden;
	bottom: -2px;
	padding: 16px;
}
.cuadro_contenido{
	padding-left: 8px;
	padding-top: 15px;
	line-height: 24px;
	@include span-columns(4);
	font-size: 40px;
	bottom: 0px;
	height: 200px;
	top: 80px;
	width: 100%;
	position: relative;
	@include transition(all 0.2s ease-in-out);

	hr{
		width: 98%;
		color: black;
	}

	&:hover {
		@include transform(translateY(-84px));
	}
	.mes{
		font-size: 13px;
		letter-spacing: 1px;
	}
	.dia{
		float: right;
		margin-right: 11px;
		margin-top: -16px;
	}
	.horariosXdia{
		padding-left: 6px;
		@include span-columns(1 of 4);
		line-height: 19px;
		@include media(min-width 0px max-width 1265px){
				font-size: 12px;
				} 
	}
	
	
}
.line{
	padding: 8px 6px;
	border: none;
}
.equiposVS{
	margin: 0;
	position: relative;
	@include span-columns(3 of 4);
	text-align: left;
	line-height: 4px;
	padding: 0px;
	@include media(min-width 0px max-width 1265px){
				font-size: 12px;
				font-weight: lighter;
				} 
	tr{
		height: 16px;
	}
}
.menu-partidos-week-resp{
	bottom: 0px;
	position: absolute;
	@include media(min-width 1110px){
				visibility: hidden;
				

//	ul{
//		font-weight: bold;
//		font-size: 20px;
//
//		li{
//			bottom: 0px;
//			@include media(min-width 0px max-width 1240px){
//				font-size: 18px;
//			} 
//		}
	}			
}
.contenedores-por-dia{
	height: 80px;
	padding: 8px;
	min-width: 465px;
}
.table-resp{
	width: 25%;
	position: relative;
	left: 5%;
	margin: auto;
	line-height: 9px;
	min-width: 253px;
}
.dia{
	font-weight: bold;
	line-height: 26px;
	font-size: 28px;
}
.resp-team{
	width: 105px;
}
.vs-resp{
	width: 25px;
}

