nav.navbar.navbar-custom.navbar-fixed-top(role='navigation').col
	.container
		.navbar-header.page-scroll
			button(type="button" data-toggle="collapse" data-target=".navbar-main-collapse").navbar-toggle.collapsed
				i.fa.fa-bars
			a.navbar-brand(href="#page-top")
				i.head-logo
					img(src="img/grwpo.png")
		.collapse.navbar-collapse.navbar-right.navbar-main-collapse
			ul.nav.navbar-nav 
				li.hidden 
					a(href='#page-top')
				li.page-scroll
					a(href='#page-top') About
				li.page-scroll
					a(href='#calendario') Calendario
				li.page-scroll
					a(href='#equipos') Equipos