.al100{
	width: 100%;
	height: 100%;
}
.outer-container{
	@include outer-container;
	background: red;}

.columnas-12{	
	@include span-columns(12);}

.no-gutter{
	@include span-columns(110 of 440);
	@include omega;}
.no-gutter2col{
	@include span-columns(220 of 440);
	@include omega;}
.float-L{
	float: left;}
.float-R{
	float: right;}
.mayusculas {
	text-transform:uppercase;}
.bold{
	font-weight: bold;
}
.black{
	color: black;
}
.alto{
	height: 30px;
	background: red;
}
